{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-2">
                        Upcoming Movies
                    </h1>
                    <h2 class="subtitle is-4">
                        See the list of upcoming movies by MovieDB
                    </h2>
                </div>
                <div class="column">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                          <input class="input" type="text" placeholder="Find a movie" id="searchInput" value="{{ request.args.get('search', '') }}">
                        </p>
                        <p class="control">
                          <a class="button is-info" id="searchBtn">
                            Search
                          </a>
                        </p>
                    </div>
                    {% if 'search' in request.args %}
                    <p class="subtitle is-6">
                        Searching for "{{ request.args.get('search', '') }}"
                    </p>
                    {% endif %}
                </div>
            </div>
            <!--Loader -->
            <progress class="progress is-small is-dark" max="100" id="loader" style="display: none;">45%</progress>
            <!--END -->
            <div class="columns is-multiline">
                {% if upcoming_list %}
                    {% for movie in upcoming_list %}
                    <!--Movie Card -->
                    <div class="column is-12-mobile is-6-tablet is-3-desktop">
                        <div class="card" onclick="openModalDetail('{{movie.id}}')">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ url_for('movie_bp.static', filename='img/' + movie.poster) }}" alt="Poster image" class="is-slightly-rounded">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-6 is-spaced is-capitalized">
                                        {{movie.name}}
                                    </p>
                                    <p class="subtitle is-6 with-icons">
                                        <span class="icon has-text-info">
                                            <i class="far fa-clock"></i>
                                        </span>
                                        {{movie.release_date}}
                                    </p>
                                    <!--Genre list-->
                                    <div class="tags">
                                        {% for genre in movie.genre %}
                                        <span class="tag">{{ genre }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal movie details -->
                    <div class="modal" id="modal-details-{{movie.id}}">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box">
                                <div class="columns">
                                    <div class="column is-4">
                                        <figure class="image">
                                            <img src="{{ url_for('movie_bp.static', filename='img/' + movie.poster) }}" alt="Poster image" class="is-slightly-rounded">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <h3 class="title">Overview</h3>
                                        <p class="subtitle is-6">{{movie.overview}}</p>
                                        <p class="with-icons">
                                            <span class="icon has-text-danger">
                                                <i class="far fa-heart"></i>
                                            </span>
                                            {{movie.popularity}}
                                        </p>
                                        <p class="with-icons">
                                            <span class="icon has-text-info">
                                                <i class="far fa-clock"></i>
                                            </span>
                                            {{movie.release_date}}
                                        </p>
                                        <div class="tags">
                                            {% for genre in movie.genre %}
                                            <span class="tag">{{ genre }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="close" onclick="closeModalDetail('{{movie.id}}')"></button>
                    </div>
                    <!-- end modal -->
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Pagination -->
            {% include "pagination.html" %}
            <!--End pagination -->
        </div>
    </div>
</section>

<script type="text/javascript">

    $('#searchBtn').click(function(){
        let query = $('#searchInput').val();
        doSearch(query);
    });

    $('#searchInput').keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            doSearch($(this).val());
        }
    });

    $('.modal-background').click(function(){
        $('.is-active').each(function(idx, item){
            $(item).removeClass('is-active');
        });
    })

    function openModalDetail(id){
        $('#modal-details-' + id).addClass('is-active');
    }

    function closeModalDetail(id){
        $('#modal-details-' + id).removeClass('is-active');
    }

    function doSearch(query){
        $('#loader').css('display', 'block');
        if (query != ''){
            query = query.split(' ').join('+');
            window.location.href = '/movies/upcoming/1?search=' + query;
        }else{
            window.location.href = '/movies/upcoming/1';
        }
    }

</script>
{% endblock %}