.card{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.18) !important;
    -webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.card:hover, focus{
	cursor: pointer;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-box-shadow: 0 2px 2px rgba(204,197,185,.5) !important;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1) !important;
}

.card-image > figure > img{
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.with-icons{
	align-items: center;
    display: flex;
}

@media only screen and (max-width: 600px) {
	.media {
	  display: block;
	}
  }